<img src = "images/3_logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>Chipoltle</font></h1>
<h2 align=center><font size = 5>Importer et Explorer</font></h2>

### 1. Importer les librairies nécessaires

In [1]:
import pandas as pd
data = pd.read_table ("data_chipotle/chipotle.tsv")
data.head (5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

###  2. Importer le jeu de données depuis [addresse](https://needemand.com/keepsmiling2/index.php/s/9KGweKQ3SDgJNYQ).

### 3. Affecter les données à une variable chipo.

In [2]:
import pandas as pd
chipo = pd.read_table ("data_chipotle/chipotle.tsv")
chipo.head (5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### 4. Afficher les 10 premières entrées.

In [3]:
import pandas as pd
chipo = pd.read_table ("data_chipotle/chipotle.tsv")
chipo.head (10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

###  5. Combien y a t-il d'observations dans le jeu de données ?

In [4]:
print(chipo.shape)

(4622, 5)

In [5]:
print(chipo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB
None

### 6. Combien y a t-il de colonnes dans le jeu de données ?

In [6]:
print(chipo.shape)

(4622, 5)

### 7. Afficher les noms des colonnes

In [7]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 8. Comment le dataFrame est-il indexé ?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 9. Quel est l'article le plus commandé?

In [9]:
vmax = chipo.groupby("item_name")
tmp = vmax.sum()
tmp.sort_values(by=["quantity"],ascending=False)[["quantity"]].head(1)

              quantity
item_name
Chicken Bowl       761

### 10. Combien ont été commandés?

In [10]:
vmax = chipo.groupby("item_name")
tmp = vmax.sum()
tmp.sort_values(by=["quantity"],ascending=False)[["quantity"]].head(1)

              quantity
item_name
Chicken Bowl       761

### 11. Quel a été l'article le plus commandé dans la colonne choice_description ?

In [11]:
vmax = chipo.groupby("choice_description")
tmp = vmax.sum()
tmp.sort_values(by=['quantity'], ascending=False)[['quantity']].head(1)

                    quantity
choice_description
[Diet Coke]              159

###  12. Combien d'articles ont été commandés au total ?

In [37]:
chipo.sum().quantity

4972

###  13. Changer le type du prix en float

####  13.a. CAfficher le type du prix

In [13]:
print (chipo.dtypes.item_price)

object

#### 13.b. Créer une fonction lambda et changer le type du prix

In [14]:
P=chipo["price"] = pd.to_numeric(chipo["item_price"].apply(lambda x: str(x)[1:]))
P

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

####  13.c. Verifier le transtypage éffectué

In [15]:
print (chipo.dtypes.price)

float64

###  14. Quel est le montant total de la recette pour la période ?

In [31]:
(chipo.price * chipo.quantity).sum()

39237.02

###  15. Combien de commandes ont été passées durant la période ?

In [ ]:
sum(chipo.quantity)

###  16. Quell est le montant moyen d'une commande ?

In [39]:
# Solution 1
moyenne = (chipo.price * chipo.quantity).sum()/ sum(chipo.quantity)
moyenne

7.8915969428801285

In [41]:
# Solution 2
chipo.price.mean()

7.464335785374397

###  17. Combien d'arfticles différents ont été vendus?

In [42]:
chipo.item_name.nunique(dropna=True)

50

<hr>
Copyright &copy; 2018 Hatem & Driss @NEEDEMAND