<img src = "../../images/3_logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>Alcool</font></h1>
<h2 align=center><font size = 5>Grouper</font></h2>

### 1. Importer les librairies nécessaires

In [1]:
import pandas as pd
import numpy as np

### 2. Importer le jeu de données depuis [adresse](https://needemand.com/keepsmiling2/index.php/s/nAjnDBf3ekoxTmx).

### 3. Stocker les données dans une variable drinks.

In [3]:
drinks = pd.read_table("drinks.csv",sep=',')
drinks.head (5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### 4. Dans quel la consommation moyenne de bière est-elle la plus élevée ?

In [67]:
drinks.groupby(['continent'])['beer_servings'].mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### 5. Afficher les statistiques relatives aux consommations de vin pour chaque continent.

In [86]:
drinks.groupby(['continent'])['wine_servings'].mean()
drinks.groupby(['continent'])['wine_servings'].min()
drinks.groupby(['continent'])['wine_servings'].max()
drinks.groupby(['continent'])['wine_servings'].count()
drinks.groupby(['continent'])['wine_servings'].median()
drinks.groupby(['continent'])['wine_servings'].var()
drinks.groupby(['continent'])['wine_servings'].std()

continent
AF    38.846419
AS    21.667034
EU    97.421738
OC    64.555790
SA    88.620189
Name: wine_servings, dtype: float64

### 6. Afficher la consommation moyenne d'alcool par continent pour toutes les colonnes.

In [54]:
drinks.groupby(['continent']).mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### 7. Afficher la consommation médiane d'alcool par continent pour toutes les colonnes

In [64]:
drinks.groupby(['continent']).median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### 8. Afficher les valeurs moyennes, min et max de la consommation de spiritueux (spirit).
#### Stocker le résulat dans un DataFrame

In [80]:
a = drinks["spirit_servings"].min()
b = drinks["spirit_servings"].max()
c = drinks["spirit_servings"].mean() 
d = {'min': a, 'max': b, "mean" : c}
stats = pd.DataFrame(data=d)

ValueError: If using all scalar values, you must pass an index

<hr>
Copyright &copy; 2018 Hatem & Driss @NEEDEMAND