<img src = "../../images/3_logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>Régiment</font></h1>
<h2 align=center><font size = 5>Grouper</font></h2>

### Introduction:

On reprend le jeu de données de la partie 1

### 1. Importer les librairies nécessaires

In [8]:
import pandas as pd
import numpy as np

army = pd.DataFrame ({'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]})
army

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### 2. Créer un dataFrame "Army" à partir du dictionnaire suivant en tenant compte des entêtes des colonnes :

In [51]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### 3. Quel est la moyenne de "preTestScore" pour les "Nighthawks" ?

In [11]:
army[army["regiment"]=="Nighthawks"]['preTestScore'].mean()

15.25

### 4. Afficher les statistiques générales pour chaque "compagny"

In [24]:
army[army["company"]=="1st"].mean()
army[army["company"]=="1st"].min()

regiment         Dragoons
company               1st
name                Cooze
preTestScore            2
postTestScore          25
dtype: object

### 5. Quelle est la moyenne de "preTestScore" pour chaque "compagny" ?

In [18]:
army[army["company"]=="1st"]["preTestScore"].mean()
army[army["company"]=="2nd"]["preTestScore"].mean()

15.5

### 6.Afficher les moyennes de "preTestScore" pour chaque "regiment" et "compagny"

In [32]:
army.groupby(['regiment'])['preTestScore'].mean()
army.groupby(['company'])['preTestScore'].mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### 7. Afficher les moyennes de "preTestScore" grouppées par "regiment" et "compagny" sans index hierarchique.

### 8. Grouper le dataFrame par "regiment" et "compagny"

In [35]:
army.groupby(['regiment', 'company']).sum()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st                 7             95
           2nd                55            151
Nighthawks 1st                28            119
           2nd                33            119
Scouts     1st                 5            132
           2nd                 5            132

### S9. Combien y a t-il d'observation pour chaque "regiment" et pour chaque "compagny"

### 10. Iterer sur un groupe et afficher le nom puis l'integralité des données d'un regiment.

<hr>
Copyright &copy; 2018 Hatem & Driss @NEEDEMAND